.food-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
    animation: fadein 1s;

}
.food-item-image{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}
.food-item-info{
    padding: 20px;
}
.food-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.food-item-name-rating p{
    font-size: 20px;
    font-weight: 500;

}
.food-item-description{
    color: #676767;
    font-size: 12px;

}
.food-item-price{
    color: tomato;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0px;
}

.food-item-img-container{
    position: relative;
}
.food-item-img-container .add{
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}
.food-item-counter{
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
  background-color: white;
    gap: 10px;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    padding:6px;
    border-radius: 50px;
}
